@import url('https://fonts.googleapis.com/css?family=Baskervville:400i|Solway:300&display=swap');

 /* font-family: 'Solway', serif;
font-family: 'Baskervville', serif; */


body {
    margin: 0 auto;
    width: 100%;
    border: 10px solid rgb(207,169,53);
    background-color: rgba(207,169,53,.75)
}

.nav-bar {
    margin: 0 auto;
    background-color: rgb(207,169,53,.85);
    height: 120px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

.logo {
    height: 100px;
    margin: 0 auto;
    padding-top: 10px;
}

.main {
    height: 710px;
    width: 100%;
    background-image: url('../img/old-wonder.jpg');
    background-position: center;
    /* background-repeat: no-repeat; */
    margin-top: 110px;
}

.main-img {
    height: 820px;
    width: 87.3%;
    position: absolute;
    top:820px;
    left: 96px;
    margin: 0 auto;
}


.nav-list {
    float: right;
    padding-top: 10px;

}

.list-item {
   height: 25px;
   width: 45px;
   color: rgb(0,0,0);
   text-align: center;
   display: inline-block;
   list-style-type: none;
   /* float: left; */
   margin-right: 50px;
   border: 3px solid rgb(0,0,0);
   border-radius: 10px 5px;
   padding: 5px
}

.main-text {
    height: 80px;
    width: 250px;
    background-color:rgb(207,169,53);
    color: rgb(0,0,0);
    text-align: center;
    border: rgb(0,0,0) 3px solid;
    position: absolute;
    top: 280px;
    left: 550px;
    text-shadow: rgb(207,130,1) 3px 3px;
    box-shadow: rgb(207,130,1) 3px;
    
}

/******Main Style******/

.main-section {
    height: 1150px;
    width: 100%;

}

.dol {
    height: 700px;
    width: 78%;
    position: absolute;
    top: 360px;
    left: 155px;
    background-color: rgb(207,169,53);
    margin: 0 auto;
    border: rgb(0,0,0) 3px solid;
    /* float: left; */
}

.gardens {
    float: right;
}


.sec-text p {
    text-align: center;
    margin: 50px 10px 20px 10px;
}

.col {
    height: 700px;
    width: 78%;
    position: absolute;
    top: 1060px;
    left: 155px;
    background-color: rgb(207,169,53);
    margin: 0 auto;
    border: rgb(0,0,0) 3px solid;
    /* float: left; */
}

.chi {
    float: left;
}

.mini-sect {
    height: 150px;
    width: 87%;
    text-align: center;
    margin: 0 auto;
}

hr {
    border-color: rgb(0,0,0);
    margin-left: 50px;
    margin-right: 50px;
}

.w1 {
    height: 280px;
    width: 380px;
    float: left; 
}

.w2 {
    height: 280px;
    width: 380px;
    float: right;
}


/*********Footer Style********/

.footer {
    height: 125px;
    width: 100%;
    background-color:rgb(207,169,53);
    text-align: center;

}

.button-input, .social, .copy {
    width: 33.3%;
    /* float: left; */
    margin: auto;
    text-align: center;


}

.button-input, .social {
    margin-top: 20px;

}

button {
    padding: 5px;
    border-radius: 5px;
}

input {
    height: 15px;
}

.fab {
    font-size: 2em;
    color: black;
    margin-left: 25px;
}

.copy {
    display: inline;
}