@import url('https://fonts.googleapis.com/css?family=Baskervville:400i|Solway:300&display=swap');

 /* font-family: 'Solway', serif;
font-family: 'Baskervville', serif; */


body {
    margin: 0 auto;
    width: 100%;
    border: 10px solid rgb(207,160,45);
    background-color: rgba(207,169,53,.75)
}

.nav-bar-a {
    margin: 0 auto;
    background-color: rgba(207,160,45,.85);
    height: 120px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

.logo {
    height: 100px;
    margin: 0 auto;
    padding-top: 10px;
}

.main-a {
    height: 880px;
    width: 100%;
    background-image: url('../img/old-wonder.jpg');
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 20px;
}

.main-img {
    height: 800px;
    width: 87.3%;
    position: absolute;
    top:820px;
    left: 96px;
    margin: 0 auto;
}

ul {
    width: 80%;
    list-style-type: none;
    margin-left: 80px;
    padding: 20px;
    float: right;
    overflow: hidden;
    background-color: rgba(207,169,53,.10);
  }
  
  li {
      padding-right: 10px;
    float: right;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: rgb(0,0,0);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border: 3px solid rgb(0,0,0);
    border-radius: 15px 5px;
    padding: 10px 20px;
    text-decoration: rgb(0,0,0);
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    color: rgb(207,169,53);
    background-color: rgb(0,0,0);
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(0,0,0);
    min-width: 215px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgb(207,169,53);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
.dropdown-content a:hover {
      color: rgb(0,0,0);
      background-color: rgb(207,169,53);}
  
.dropdown:hover .dropdown-content {
    display: block;
  }

.list-item {
   height: 25px;
   width: 45px;
   color: rgb(0,0,0);
   text-align: center;
   display: inline-block;
   list-style-type: none;
   /* float: left; */
   margin-right: 50px;
   border: 3px solid rgb(0,0,0);
   border-radius: 10px 5px;
   padding: 5px
}

.main-text-a {
    height: 100px;
    width: 480px;
    font-size: 25px;
    background-color:rgb(207,169,53);
    color: rgb(0,0,0);
    text-align: center;
    border: rgb(0,0,0) 1px solid;
    border-radius: 10px 10px;
    position: absolute;
    padding-bottom: 15px;
    top: 230px;
    left: 455px;
    text-shadow: rgb(207,130,1) 3px 3px;
    box-shadow: rgb(207,130,1) 3px;
    
}

/******Main Style******/

.main-section-a {
    height: 900px;
    width: 100%;

}

.dol-a {
    height: 1300px;
    width: 78%;
    position: absolute;
    text-align: center;
    top: 360px;
    left: 155px;
    background-color: rgb(207,160,45);
    margin: 0 auto;
    border: rgb(0,0,0) 2px solid;
    /* float: left; */
}

.if1 {
    float: right;
}


.sec-text-a p {
    text-align: center;
    margin: 50px 10px 20px 10px;
}

.col-a {
    height: 725px;
    width: 78%;
    position: absolute;
    text-align: center;
    top: 1100px;
    left: 155px;
    background-color: rgb(207,160,45);
    margin: 0 auto;
    border: rgb(0,0,0) 2px solid;
    /* float: left; */
}

.if2 {
    float: right;
}

 .sect-text-a {
    height: 150px;
    width: 87%;
    text-align: center;
    margin: 0 auto;
}

/* hr {
    border-color: rgb(0,0,0);
    margin-left: 50px;
    margin-right: 50px;
} */

.w1 {
    height: 280px;
    width: 380px;
    float: left; 
}

.w2 {
    height: 280px;
    width: 380px;
    float: left;
}


/*********Footer Style********/

.footer {
    height: 125px;
    width: 100%;
    background-color:rgb(207,160,45);
    text-align: center;

}

.button-input, .social, .copy {
    width: 33.3%;
    /* float: left; */
    margin: auto;
    text-align: center;


}

.button-input, .social {
    margin-top: 20px;

}

button {
    padding: 5px;
    border-radius: 5px;
}

input {
    height: 15px;
}

.fab {
    font-size: 2em;
    color: black;
    margin-left: 25px;
}

.copy {
    display: inline;
}